
.item::before {
    content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;       
  height: 10px;
  background-color: orange; 
  transform: rotate(45deg); 
  border: 1px solid black;
}
a {
    text-decoration: none;
    color: #fff;
}
.menu {
    position: fixed;
    
    background-color: gray;
    top: 0;
    margin: 0;
    left: 0;
    padding-top: 40px;
    height: 100vh;
    width: 60px;
    font-size: 20px;
   
    
    transition: 0.5s ease-in;
}
.item {
    margin: 0;
    margin-bottom: 1em;
    padding-left: 1.5em;
    position: relative;
    list-style-type: none;
        white-space: nowrap;
}
.submenu {
    list-style-type: none;
    display: none;
    
    text-transform: uppercase;
    

    
}
 .menu>li:hover .submenu {
    display: block;
    transition: 0.5s ease-in-out;
    
}
.menu>li:hover .main {
    opacity: 0;
}

.menu:hover {
    transition: 0.5s ease-in;
}
.item a:hover {
    color: orange;
   
    transition: 0.5s;
}
.main {
    font-size: 27px;
    position: absolute;
    left: -25px;
    top: 100px;
    transform: rotate(90deg);
    white-space: nowrap;
}
.text {
    white-space: nowrap;
    font-size: 30px;
    transform: rotate(90deg);
    position: absolute;
    top: 45%;
    color: white;
    transition: 0.5s;
    left: -57px;
    text-transform: uppercase;
}
.menu:hover  {
    width: 370px;

}
.menu:hover .text {
    display: none;

}
.menu:hover .submenu {
    display: block;
    
}